In [2]:
from bs4 import BeautifulSoup

In [2]:
with open("/Users/Tensor/Downloads/html-doc.html") as file:
    soup = BeautifulSoup(file, 'html.parser')

In [3]:
type(soup)

bs4.BeautifulSoup

In [5]:
print(soup.prettify())

<html>
 <head>
  <title>
   The Dormouse's story
  </title>
 </head>
 <body>
  <p class="title">
   <b>
    The Dormouse's story
   </b>
  </p>
  <p class="story">
   Once upon a time there were three little sisters; and their names were
   <a class="sister" href="http://example.com/elsie" id="link1">
    Elsie
   </a>
   ,
   <a class="sister" href="http://example.com/lacie" id="link2">
    Lacie
   </a>
   and
   <a class="sister" href="http://example.com/tillie" id="link3">
    Tillie
   </a>
   ;
and they lived at the bottom of a well.
  </p>
  <p class="story">
   ...
  </p>
 </body>
</html>

In [6]:
soup.title

In [7]:
soup.a

In [8]:
print(type(soup.title))
soup.title.text
# similarly soup.title.name will return the name of the tag i.e. here it is title

<class 'bs4.element.Tag'>

"The Dormouse's story"

In [9]:
soup.title.parent

In [10]:
soup.head

In [13]:
soup.head.parent

<html><head><title>The Dormouse's story</title></head>
<body>
<p class="title"><b>The Dormouse's story</b></p>
<p class="story">Once upon a time there were three little sisters; and their names were
<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
<a class="sister" href="http://example.com/lacie" id="link2">Lacie</a> and
<a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>;
and they lived at the bottom of a well.</p>
<p class="story">...</p></body></html>

In [14]:
soup.body

<body>
<p class="title"><b>The Dormouse's story</b></p>
<p class="story">Once upon a time there were three little sisters; and their names were
<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
<a class="sister" href="http://example.com/lacie" id="link2">Lacie</a> and
<a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>;
and they lived at the bottom of a well.</p>
<p class="story">...</p></body>

In [15]:
soup.body.children

In [16]:
for child in soup.body.children:
    print(child)

<p class="title"><b>The Dormouse's story</b></p>


<p class="story">Once upon a time there were three little sisters; and their names were
<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
<a class="sister" href="http://example.com/lacie" id="link2">Lacie</a> and
<a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>;
and they lived at the bottom of a well.</p>


<p class="story">...</p>

In [17]:
#descendants

soup.body.descendants

In [18]:
for descendants in soup.body.descendants:
    print(descendants)

<p class="title"><b>The Dormouse's story</b></p>
<b>The Dormouse's story</b>
The Dormouse's story


<p class="story">Once upon a time there were three little sisters; and their names were
<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
<a class="sister" href="http://example.com/lacie" id="link2">Lacie</a> and
<a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>;
and they lived at the bottom of a well.</p>
Once upon a time there were three little sisters; and their names were

<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>
Elsie
,

<a class="sister" href="http://example.com/lacie" id="link2">Lacie</a>
Lacie
 and

<a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>
Tillie
;
and they lived at the bottom of a well.


<p class="story">...</p>
...

In [20]:
#get_text

soup.body

<body>
<p class="title"><b>The Dormouse's story</b></p>
<p class="story">Once upon a time there were three little sisters; and their names were
<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
<a class="sister" href="http://example.com/lacie" id="link2">Lacie</a> and
<a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>;
and they lived at the bottom of a well.</p>
<p class="story">...</p></body>

In [24]:
print(soup.body.get_text()) # a method

The Dormouse's story
Once upon a time there were three little sisters; and their names were
Elsie,
Lacie and
Tillie;
and they lived at the bottom of a well.
...

In [23]:
print(soup.body.text)  # a property

The Dormouse's story
Once upon a time there were three little sisters; and their names were
Elsie,
Lacie and
Tillie;
and they lived at the bottom of a well.
...

In [5]:
#find

soup.find('a')

In [7]:
#find_all
soup.find_all('a')

[<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
 <a class="sister" href="http://example.com/lacie" id="link2">Lacie</a>,
 <a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>]

In [8]:
type(soup.find_all('a'))

bs4.element.ResultSet

In [12]:
# to get a specific value inside a particular tag
soup.a['class']

['sister']

In [10]:
soup.a['href']

'http://example.com/elsie'

In [13]:
soup.a.get('class')
# better practice as you won't get a key error is the key doesn't exist, it just returns none

['sister']

# Fetching webpage with requests

In [3]:
uri = "https://www.bbc.com/sport/football/premier-league/top-scorers"

In [4]:
import requests

In [5]:
try:
    response = requests.get(uri)
    response.raise_for_status()
except Exception as e:
    print(e)
else:
    soup = BeautifulSoup(response.content, 'html.parser')
    print('Succesful')

Succesful

In [6]:
# content (string format). Converted from orginal binary-string
response.text[:200]

'<!DOCTYPE html><html lang="en-GB" class="no-js"><head><meta charSet="utf-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><title data-rh="true">Premier League Top Scorers - B'

In [7]:
# content (binary-string format)

# this is the original raw datat of the http resonpse, without the request decoding of it in string using a best guess encoding.

response.content[:200]

b'<!DOCTYPE html><html lang="en-GB" class="no-js"><head><meta charSet="utf-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><title data-rh="true">Premier League Top Scorers - B'

In [8]:
#soup object

#we pass the content of the webpage

soup = BeautifulSoup(response.content, "html.parser")

In [9]:
soup.prettify()[:200]

'<!DOCTYPE html>\n<html class="no-js" lang="en-GB">\n <head>\n  <meta charset="utf-8"/>\n  <meta content="width=device-width, initial-scale=1" name="viewport"/>\n  <title data-rh="true">\n   Premier League T'

In [10]:
len(soup.find_all('tbody'))

2

In [11]:
soup.find('tbody').prettify()[:3000]
#we need the first occurence of tbody

'<tbody>\n <tr class="ssrcss-qqhdqi-TableRowBody e1icz100">\n  <td class="ssrcss-hqk70a-StyledTableData ef9ipf1">\n   <div class="ssrcss-5tf6t0-CellWrapper ef9ipf0" value="1">\n    <div class="ssrcss-wjp01q-RankAndBadgeWrapper e1n6h4mf2">\n     <span class="ssrcss-1xljqjf-Rank e1n6h4mf1">\n      1\n     </span>\n     <div class="ssrcss-pp8itw-BadgeWrapper e1n6h4mf0">\n      <div class="ssrcss-bdya4g-MobileOnlyWrapper e1v3gc7i1">\n       <div class="ssrcss-1ij97kg-BadgeContainer ezmsq4q1" data-testid="badge-container-manchester-city" size="20">\n        <img alt="" aria-hidden="true" class="ssrcss-1knyx38-BadgeImage ezmsq4q0" data-testid="badge-img-manchester-city" src="https://static.files.bbci.co.uk/core/website/assets/static/sport/football/manchester-city.9024a874d6.svg"/>\n       </div>\n      </div>\n      <div class="ssrcss-dngukv-DesktopOnlyWrapper e1v3gc7i0">\n       <div class="ssrcss-1b9x5pa-BadgeContainer ezmsq4q1" data-testid="badge-container-manchester-city" size="24">\n        <img alt="" aria-hidden="true" class="ssrcss-1knyx38-BadgeImage ezmsq4q0" data-testid="badge-img-manchester-city" src="https://static.files.bbci.co.uk/core/website/assets/static/sport/football/manchester-city.9024a874d6.svg"/>\n       </div>\n      </div>\n     </div>\n    </div>\n   </div>\n  </td>\n  <td class="ssrcss-hqk70a-StyledTableData ef9ipf1">\n   <div class="ssrcss-5tf6t0-CellWrapper ef9ipf0">\n    <div data-player-id="urn:bbc:sportsdata:football:player:s-atzboo800gv7gic2rgvgo0kq1" data-team-id="urn:bbc:sportsdata:football:team:manchester-city">\n    </div>\n    <div class="ssrcss-dngukv-DesktopOnlyWrapper e1v3gc7i0">\n     <div role="text">\n      <div class="ssrcss-m6ah29-PlayerName e1n8xy5b1">\n       E. Haaland\n      </div>\n      <div class="ssrcss-qvpga1-TeamsSummary e1n8xy5b0">\n       Man City\n      </div>\n     </div>\n    </div>\n    <div class="ssrcss-bdya4g-MobileOnlyWrapper e1v3gc7i1">\n     <div role="text">\n      <div class="ssrcss-m6ah29-PlayerName e1n8xy5b1">\n       E. Haaland\n      </div>\n      <div class="ssrcss-qvpga1-TeamsSummary e1n8xy5b0">\n       Man City\n      </div>\n     </div>\n    </div>\n   </div>\n  </td>\n  <td class="ssrcss-126tggj-StyledTableData ef9ipf1">\n   <div class="ssrcss-18ap757-CellWrapper ef9ipf0" value="3">\n    3\n   </div>\n  </td>\n  <td class="ssrcss-k6a35j-StyledTableData ef9ipf1">\n   <div class="ssrcss-18ap757-CellWrapper ef9ipf0" value="3">\n    3\n   </div>\n  </td>\n  <td class="ssrcss-126tggj-StyledTableData ef9ipf1">\n   <div class="ssrcss-1vo7v3r-CellWrapper ef9ipf0" value="0">\n    0\n   </div>\n  </td>\n  <td class="ssrcss-k6a35j-StyledTableData ef9ipf1">\n   <div class="ssrcss-1vo7v3r-CellWrapper ef9ipf0" value="0">\n    0\n   </div>\n  </td>\n  <td class="ssrcss-126tggj-StyledTableData ef9ipf1">\n   <div class="ssrcss-1vo7v3r-CellWrapper ef9ipf0" value="3">\n    3\n   </div>\n  </td>\n  <td class="ssrcss-k6a35j-StyledTableData ef9ipf1">\n   <div class="ssrcss-1vo7v3r-CellWrapper ef9ipf0" value="3">\n    3\n   </div>\n  </td>\n  <td class="ssrcss-126tggj-StyledTa'

In [12]:
print(len(soup.find('tbody').find_all('tr', class_='ssrcss-qqhdqi-TableRowBody e1icz100')))

59

In [13]:
players = soup.find('tbody').find_all('tr', class_='ssrcss-qqhdqi-TableRowBody e1icz100')
player_name = []
player_team = []

In [14]:
for player in players:
    player_name.append(player.find('div', class_='ssrcss-m6ah29-PlayerName e1n8xy5b1').get_text(strip = True))
    player_team.append(player.find('div', class_='ssrcss-qvpga1-TeamsSummary e1n8xy5b0').get_text(strip = True))

In [15]:
for i in range(len(player_name)):
    print(player_name[i], " : ", player_team[i])

goals = []

E. Haaland  :  Man City
João Pedro  :  Chelsea
J. Timber  :  Arsenal
H. Ekitiké  :  Liverpool
Richarlison  :  Tottenham
E. Fernández  :  Chelsea
J. Anthony  :  Burnley
A. Semenyo  :  Bournemouth
W. Isidor  :  Sunderland
B. Johnson  :  Tottenham
V. Gyökeres  :  Arsenal
C. Wood  :  Nottm Forest
I. Ndiaye  :  Everton
I. Sarr  :  Crystal Palace
Lucas Paquetá  :  West Ham
Igor Thiago  :  Brentford
R. Calafiori  :  Arsenal
C. Gakpo  :  Liverpool
D. Ndoye  :  Nottm Forest
Mohamed Salah  :  Liverpool
J. Cullen  :  Burnley
K. Dewsbury-Hall  :  Everton
T. Reijnders  :  Man City
R. Ngumoha  :  Liverpool
F. Chiesa  :  Liverpool
J. Milner  :  Brighton
B. Gruda  :  Brighton
Rodrigo Gomes  :  Wolves
E. Smith Rowe  :  Fulham
R. Cherki  :  Man City
C. Wilson  :  West Ham
Hwang Hee-Chan  :  Wolves
D. Ballard  :  Sunderland
W. Osula  :  Newcastle
L. Nmecha  :  Leeds
E. Le Fée  :  Sunderland
B. Saka  :  Arsenal
João Palhinha  :  Tottenham
Rodrigo Muniz  :  Fulham
D. Ouattara  :  Brentford
M. O'Riley  :  Brighton
R. Gravenberch  :  Liverpool
Beto  :  Everton
Eliezer Mayenda  :  Sunderland
T. Chalobah  :  Chelsea
M. Tavernier  :  Bournemouth
L. Foster  :  Burnley
C. Hudson-Odoi  :  Nottm Forest
Evanilson  :  Bournemouth
Pedro Neto  :  Chelsea
J. Mateta  :  Crystal Palace
Bruno Guimarães  :  Newcastle
M. Guéhi  :  Crystal Palace
J. Garner  :  Everton
M. Caicedo  :  Chelsea
D. Szoboszlai  :  Liverpool
J. Bowen  :  West Ham
B. Mbeumo  :  Man Utd
Bruno Fernandes  :  Man Utd

In [16]:
for player in players:
    goal = int(player.find('div', class_='ssrcss-18ap757-CellWrapper ef9ipf0').get_text(strip = True))
    goals.append(goal)

In [17]:
# We see that the assists, matched played and shots taken being represented in same div tag

# 'ssrcss-1vo7v3r-CellWrapper ef9ipf0' all are represented under this only
for player in players:
    for div_tag in player.find_all('div', class_='ssrcss-1vo7v3r-CellWrapper ef9ipf0'):
        print(div_tag)
    break # so only first player stat is printed

assists = []
matches_played = []
shots_taken = []

<div class="ssrcss-1vo7v3r-CellWrapper ef9ipf0" value="0">0</div>
<div class="ssrcss-1vo7v3r-CellWrapper ef9ipf0" value="0">0</div>
<div class="ssrcss-1vo7v3r-CellWrapper ef9ipf0" value="3">3</div>
<div class="ssrcss-1vo7v3r-CellWrapper ef9ipf0" value="3">3</div>
<div class="ssrcss-1vo7v3r-CellWrapper ef9ipf0" value="1.07">1.07</div>
<div class="ssrcss-1vo7v3r-CellWrapper ef9ipf0" value="84">84</div>
<div class="ssrcss-1vo7v3r-CellWrapper ef9ipf0" value="84">84</div>
<div class="ssrcss-1vo7v3r-CellWrapper ef9ipf0" value="14">14</div>
<div class="ssrcss-1vo7v3r-CellWrapper ef9ipf0" value="21%">21%</div>
<div class="ssrcss-1vo7v3r-CellWrapper ef9ipf0" value="36%">36%</div>

In [18]:
for player in players:
    div_tag = player.find_all('div', class_='ssrcss-1vo7v3r-CellWrapper ef9ipf0')
    assists.append(int(div_tag[0].get_text(strip = True)))
    matches_played.append(int(div_tag[2].get_text(strip = True)))
    shots_taken.append(int(div_tag[-3].get_text(strip = True)))

In [19]:
for i in range(len(shots_taken)):
    print(assists[i], matches_played[i], shots_taken[i])

0 3 14
2 3 8
1 3 4
1 3 5
1 3 8
1 3 4
1 3 7
1 3 10
0 3 4
0 3 4
0 3 3
0 3 7
0 3 3
0 3 3
0 3 5
0 3 6
2 3 7
2 3 6
1 3 1
1 3 4
1 3 1
1 3 1
1 3 5
0 1 1
0 3 2
0 2 1
0 3 5
0 2 3
0 3 3
0 2 1
0 3 6
0 3 1
0 2 4
0 3 3
0 3 3
0 3 2
0 2 2
0 3 1
0 3 5
0 2 3
0 2 4
0 2 2
0 3 3
0 3 3
0 3 5
0 3 7
0 3 3
0 3 4
0 3 8
0 3 3
0 3 6
0 3 1
0 3 2
0 3 3
0 3 3
0 3 4
0 3 7
0 3 8
0 3 8

In [20]:
len(goals)

59

In [21]:
data = {
    'player':player_name,
    'team':player_team,
    'matches played':matches_played,
    'goals':goals,
    'assists':assists,
    'shots taken':shots_taken
}

In [22]:
import pandas as pd

df_players = pd.DataFrame(data)

In [25]:
df_players.head()

        player       team  matches played  goals  assists  shots taken
0   E. Haaland   Man City               3      3        0           14
1   João Pedro    Chelsea               3      2        2            8
2    J. Timber    Arsenal               3      2        1            4
3   H. Ekitiké  Liverpool               3      2        1            5
4  Richarlison  Tottenham               3      2        1            8

In [26]:
df_players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   player          59 non-null     object
 1   team            59 non-null     object
 2   matches played  59 non-null     int64
 3   goals           59 non-null     int64
 4   assists         59 non-null     int64
 5   shots taken     59 non-null     int64
dtypes: int64(4), object(2)
memory usage: 2.9+ KB

In [27]:
df_players.describe()

       matches played      goals    assists  shots taken
count       59.000000  59.000000  59.000000    59.000000
mean         2.830508   1.288136   0.288136     4.237288
std          0.421514   0.493085   0.558657     2.608600
min          1.000000   1.000000   0.000000     1.000000
25%          3.000000   1.000000   0.000000     3.000000
50%          3.000000   1.000000   0.000000     4.000000
75%          3.000000   2.000000   0.000000     6.000000
max          3.000000   3.000000   2.000000    14.000000